*{
    margin:0;
}

.parent{
    background-color:hotpink;
    display:inline-block;
    width:300px;
    height:300px;
    padding:30px;
    margin: 40px;
}

.child{
    background-color:indigo;
    width:300px;
    height:300px;
}

.butt{
 
 
    padding:50px;
}

.button{
    background-color:rgb(2, 49, 2);
    border:2px solid rgb(0, 44, 0);
    font-weight:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    border-radius: 6px;
    padding: 10px;
    cursor:pointer;
}

button:hover{
    background-color:green;
}

button:focus{
    background-color:blue;
}

.button1{
    background-color:rgb(2, 49, 2);
    border:2px solid rgb(0, 44, 0);
    font-weight:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    border-radius: 6px;
    padding: 10px;
    cursor:pointer;
}

button1:disabled{
    cursor: not-allowed;
    opacity:0.3;
}