.parent{
    background-color:aqua;
}

.child{
    background-color:blueviolet;
    padding: 50px;
    margin:10px;
    display:inline-block;
}

.parent1{
    position:relative;
    background-color:red;
    width: 300px;
    height: 300px;
}

.child1{
    position:absolute;
    background-color:blue;
    height: 100px;
    width: 100px;
    right: 0px;
    bottom: 0px;
}

