body{
    background-color:black;
    padding: 100px;
}

.parent{
    background-color:white;
    width:100%;
    height:600px;
    display:flex;
    gap: 5px;
    flex-wrap:wrap;
    /*
    try these effects
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap:wrap; overflow: hidden;*/

    align-items: center;
    justify-content: center;
    /*
    for child2
    align-items: baseline;
    align-items: flex-end;
    align-items: flex-start;*/
}

.child{
    background-color:red;
    width:200px;
    height: 200px;
}

.child2{
    background-color:greenyellow;
    width:200px;
    height: 350px;
}